# DataFrame Eleman İşlemleri

In [1]:
import numpy as np
import pandas as pd

In [40]:
s1 = np.random.randint(10,size=5)
s2 = np.random.randint(10,size=5)
s3 = np.random.randint(10,size=5)
df = pd.DataFrame({"var1":s1,"var2":s2,"var3":s3})
df

   var1  var2  var3
0     5     7     4
1     0     2     9
2     4     5     9
3     7     2     6
4     7     7     0

In [41]:
df.iloc[0:1]

   var1  var2  var3
0     5     7     4

In [42]:
df.index = ["a","b","c","d","e"] # df'in imdexlerini değiştirdik
df

   var1  var2  var3
a     5     7     4
b     0     2     9
c     4     5     9
d     7     2     6
e     7     7     0

In [43]:
df.loc["c":"e"]

   var1  var2  var3
c     4     5     9
d     7     2     6
e     7     7     0

In [44]:
df.drop("a",axis=0) # a index'ine göre ilgili verileri sildik

   var1  var2  var3
b     0     2     9
c     4     5     9
d     7     2     6
e     7     7     0

In [45]:
df # gördüğümüz gibi yukarda silme işlemi yaptık fakat kalıcı olmamış

   var1  var2  var3
a     5     7     4
b     0     2     9
c     4     5     9
d     7     2     6
e     7     7     0

In [46]:
df.drop("a",axis=0,inplace=True) # silme işleminin kalıcı olması için inplace=True parametresini veriyoruz
df # gördüğümüz gibi silme işlemi kalıcı olmuş

   var1  var2  var3
b     0     2     9
c     4     5     9
d     7     2     6
e     7     7     0

In [47]:
l = ["b","c"]
l

['b', 'c']

In [49]:
df.drop(l,axis=0) # birden fazla indexi silmek istersek bu methodu kullanabiliriz
        # axis = 0 -> satır ifade ettiği için o indexe ait satırı siler soldan sağa

   var1  var2  var3
d     7     2     6
e     7     7     0

In [50]:
df

   var1  var2  var3
b     0     2     9
c     4     5     9
d     7     2     6
e     7     7     0

In [52]:
'var1' in df # var1 değişkeni df içinde var mı yok mu onu verir bize

True

In [56]:
l = ['var1','var2','var4'] # bunları değişken ismi olarak belirledik

In [57]:
for i in l: # değişken isimlerinin tutulduğu l listesi içindeki her i için
    print(i in df) # i değeri df içinde var mı?

True
True
False

In [59]:
df['var1'] is df['var2'] # iki değişken aynı mı değil mi

False

In [60]:
df['var1'] is df['var1']

True

In [61]:
df['var2'] # df içinden var2 değişkenini aldık

b    2
c    5
d    2
e    7
Name: var2, dtype: int32

In [64]:
df.var2 # yukardaki kodun aynısı, değişik versiyonu. df içinden var2'yi al

b    2
c    5
d    2
e    7
Name: var2, dtype: int32

In [66]:
df[['var1','var2']] # veri seti(df) içinden 2 tane değişken seçmek istersek bu yöntemi kullanacağız

   var1  var2
b     0     2
c     4     5
d     7     2
e     7     7

In [67]:
l = ['var1','var2']

In [69]:
df[l] # seçmek istediğimiz değişkenleri liste ile de verebiliriz

   var1  var2
b     0     2
c     4     5
d     7     2
e     7     7

In [77]:
df['var4'] = df['var1'] / df['var2'] # df içine var4 adında değişken ekliyoruz
df      # var4 değişkenini var1 ve var2 bölümünden oluşturuyoruz

   var1  var2  var3  var4
b     0     2     9   0.0
c     4     5     9   0.8
d     7     2     6   3.5
e     7     7     0   1.0

In [78]:
df.drop('var4',axis=1) # dataframe'den değişken silme işlemi yapıyoruz
    # axis = 1 -> sütunu ifade ettiği için o değişkene ait sütunu siler yukarıdan aşağıya

   var1  var2  var3
b     0     2     9
c     4     5     9
d     7     2     6
e     7     7     0

In [79]:
df.drop('var4',axis=1,inplace=True) # işlemin kalıcı olmasını istiyorsak inplace=True yapmalıyız
df

   var1  var2  var3
b     0     2     9
c     4     5     9
d     7     2     6
e     7     7     0

In [82]:
df.drop(["var1","var2"],axis=1) # bu şekilde çoklu silme işlemi yapabiliriz
df.drop(l,axis=1) # yukardaki kodun aynısı listeyi değişken olarak da yollayabiliriz

   var3
b     9
c     9
d     6
e     0