# Pandas DataFrame
## Özellikleri ve Oluşturma

In [1]:
import numpy as np
import pandas as pd

In [2]:
l = [3,4,55,676,12]
l

[3, 4, 55, 676, 12]

In [8]:
df = pd.DataFrame(l,columns = ['degisken_ismi']) # elimizdeki listeyi dataframe'e çevirdik. column'u vermesekte çevirir fakat değişken isimlerimizi vermek önemlidir
df

   degisken_ismi
0              3
1              4
2             55
3            676
4             12

In [9]:
type(df)

pandas.core.frame.DataFrame

In [10]:
df.axes

[RangeIndex(start=0, stop=5, step=1), Index(['degisken_ismi'], dtype='object')]

In [12]:
df.shape # satır ve sütun sayısını verir, sol taraf satır sağ taraf sütun

(5, 1)

In [15]:
df.ndim # boyut sayısı

2

In [17]:
df.size # eleman sayısı

5

In [19]:
df.values # dataframe değerlerini array formatında verir

array([[  3],
       [  4],
       [ 55],
       [676],
       [ 12]], dtype=int64)

In [21]:
df.head(2) # parametre kadar baştan veriyi alır

   degisken_ismi
0              3
1              4

In [23]:
df.tail(2) # parametre kadar sondan veriyi alır

   degisken_ismi
3            676
4             12

In [24]:
a = np.array([1,2,3,4,5,99])
a

array([ 1,  2,  3,  4,  5, 99])

In [27]:
pd.DataFrame(a,columns=["degisken_ismi"]) # NumPy array'i DataFrame'e çevirdik

   degisken_ismi
0              1
1              2
2              3
3              4
4              5
5             99

In [32]:
a = np.arange(1,10).reshape((3,3)) # iki boyutlu bir numpy array oluşturduk
a

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [33]:
df = pd.DataFrame(a,columns=["var1","var2","var3"]) # 2 boyutlu numpy arrayi Pandas DataFrame'e çevirdik
df

   var1  var2  var3
0     1     2     3
1     4     5     6
2     7     8     9

In [35]:
df.columns # bize kolon(değişken) isimlerini verir

Index(['var1', 'var2', 'var3'], dtype='object')

In [38]:
df.columns = ['deg1','deg2','deg3'] # kolon(değişken) isimlerini değiştirdik
df

   deg1  deg2  deg3
0     1     2     3
1     4     5     6
2     7     8     9

In [41]:
df = pd.DataFrame(a,columns=["var1","var2","var3"],index=["yaş","boy","cinsiyet"])
df   # bu şekilde index değerlerini de değiştirebiliriz

          var1  var2  var3
yaş          1     2     3
boy          4     5     6
cinsiyet     7     8     9

In [42]:
pd.Series([1,2,3,4,5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [43]:
pd.DataFrame(pd.Series([1,2,3,4,5]),columns=["degisken"]) # bir pandas serisini dataframe'e çevirdik

   degisken
0         1
1         2
2         3
3         4
4         5

In [44]:
bir = pd.Series([1,2,3,4,5])
iki = pd.Series([6,7,8,9,10])

In [45]:
pd.DataFrame({'degisken1':bir,"degisken2":iki})
# iki adet pandas serisinden tek bir dataframe oluşturduk
     # sözlük yapısı kullandık

   degisken1  degisken2
0          1          6
1          2          7
2          3          8
3          4          9
4          5         10

In [51]:
sozluk = {"reg":{"RMSE":10,"MSE":11,"SSE":12},
          "log":{"RMSE":20,"MSE":21,"SSE":22},
          "rf":{"RMSE":30,"MSE":31,"SSE":32}}
sozluk

{'reg': {'RMSE': 10, 'MSE': 11, 'SSE': 12},
 'log': {'RMSE': 20, 'MSE': 21, 'SSE': 22},
 'rf': {'RMSE': 30, 'MSE': 31, 'SSE': 32}}

In [52]:
pd.DataFrame(sozluk) # bir sözlüğü direk dataframe'e çevirdik

      reg  log  rf
MSE    11   21  31
RMSE   10   20  30
SSE    12   22  32