# R-Dplyr Tarzı Veri Manipülasyonu

* **pip install dfply**

In [11]:
from dfply import *

In [12]:
diamonds # kütüphane ile gelen bir fonk

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
5       0.24  Very Good     J    VVS2   62.8   57.0    336  3.94  3.96  2.48
6       0.24  Very Good     I    VVS1   62.3   57.0    336  3.95  3.98  2.47
7       0.26  Very Good     H     SI1   61.9   55.0    337  4.07  4.11  2.53
8       0.22       Fair     E     VS2   65.1   61.0    337  3.87  3.78  2.49
9       0.23  Very Good     H     VS1   59.4   61.0    338  4.00  4.05  2.39
10      0.30       Good     J     SI1   64.0   55.0    339  4.25  4.28  2.73
11      0.23      Ideal     J     VS1   62.8   56.0    340  3.93  3.90  2.46
12      0.22    Premium     F     SI1   60.4   61.0    342  3.88  3.84  2.33
13      0.31      Ideal     J     SI2   62.2   54.0    344  4.35  4.37  2.71
14      0.20    Premium     E     SI2   60.2   62.0    345  3.79  3.75  2.27
15      0.32    Premium     E      I1   60.9   58.0    345  4.38  4.42  2.68
16      0.30      Ideal     I     SI2   62.0   54.0    348  4.31  4.34  2.68
17      0.30       Good     J     SI1   63.4   54.0    351  4.23  4.29  2.70
18      0.30       Good     J     SI1   63.8   56.0    351  4.23  4.26  2.71
19      0.30  Very Good     J     SI1   62.7   59.0    351  4.21  4.27  2.66
20      0.30       Good     I     SI2   63.3   56.0    351  4.26  4.30  2.71
21      0.23  Very Good     E     VS2   63.8   55.0    352  3.85  3.92  2.48
22      0.23  Very Good     H     VS1   61.0   57.0    353  3.94  3.96  2.41
23      0.31  Very Good     J     SI1   59.4   62.0    353  4.39  4.43  2.62
24      0.31  Very Good     J     SI1   58.1   62.0    353  4.44  4.47  2.59
25      0.23  Very Good     G    VVS2   60.4   58.0    354  3.97  4.01  2.41
26      0.24    Premium     I     VS1   62.5   57.0    355  3.97  3.94  2.47
27      0.30  Very Good     J     VS2   62.2   57.0    357  4.28  4.30  2.67
28      0.23  Very Good     D     VS2   60.5   61.0    357  3.96  3.97  2.40
29      0.23  Very Good     F     VS1   60.9   57.0    357  3.96  3.99  2.42
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53910   0.70    Premium     E     SI1   60.5   58.0   2753  5.74  5.77  3.48
53911   0.57    Premium     E      IF   59.8   60.0   2753  5.43  5.38  3.23
53912   0.61    Premium     F    VVS1   61.8   59.0   2753  5.48  5.40  3.36
53913   0.80       Good     G     VS2   64.2   58.0   2753  5.84  5.81  3.74
53914   0.84       Good     I     VS1   63.7   59.0   2753  5.94  5.90  3.77
53915   0.77      Ideal     E     SI2   62.1   56.0   2753  5.84  5.86  3.63
53916   0.74       Good     D     SI1   63.1   59.0   2753  5.71  5.74  3.61
53917   0.90  Very Good     J     SI1   63.2   60.0   2753  6.12  6.09  3.86
53918   0.76    Premium     I     VS1   59.3   62.0   2753  5.93  5.85  3.49
53919   0.76      Ideal     I    VVS1   62.2   55.0   2753  5.89  5.87  3.66
53920   0.70  Very Good     E     VS2   62.4   60.0   2755  5.57  5.61  3.49
53921   0.70  Very Good     E     VS2   62.8   60.0   2755  5.59  5.65  3.53
53922   0.70  Very Good     D     VS1   63.1   59.0   2755  5.67  5.58  3.55
53923   0.73      Ideal     I     VS2   61.3   56.0   2756  5.80  5.84  3.57
53924   0.73      Ideal     I     VS2   61.6   55.0   2756  5.82  5.84  3.59
53925   0.79      Ideal     I     SI1   61.6   56.0   2756  5.95  5.97  3.67
53926   0.71      Ideal     E     SI1   61.9   56.0   2756  5.71  5.73  3.54
53927   0.79       Good     F     SI1   58.1   59.0   2756  6.06  6.13  3.54
53928   0.79    Premium     E     SI2   61.4   58.0   2756  6.03  5.96  3.68
53929   0.71      Ideal     G     VS1   61.4   56.0   2756  5.76  5.73  3.53
53930   0.71    Premium     E     SI1   60.5   55.0   2756  5.79  5.74  3.49
53931   0.71    Premium     F     SI1   59.8   62.0   2756  5.74  5.73  3.43
53932   0.70  Very Good     E     VS2   60.5   59.0   2757  5.71  5.76  3.47
53933   0.70  Very Good     E     VS2   61.2   59.0   2757  5.69  5.72  3.49
53934   0.72    Premium     D     SI1   62.7   59.0   2757  5.69  5.73  3.58
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [13]:
df = diamonds.copy()
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [14]:
df >> head() # dfply kütüphanesi ile gelen özellik

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [15]:
# df >>= head() # atama işlemi yaptıK

In [17]:
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [23]:
df >> select(X.carat,X.cut)>>head()
# değişken seçme işlemi

   carat      cut
0   0.23    Ideal
1   0.21  Premium
2   0.23     Good
3   0.29  Premium
4   0.31     Good

In [27]:
df >> select(1,X.price,['x','y']) >> head(3)
# 1 -> değişken seçme yöntemi
# X -> dataframe yakalama durumu
# ['x','y'] -> değişken seçtik

       cut  price     x     y
0    Ideal    326  3.95  3.98
1  Premium    326  3.89  3.84
2     Good    327  4.05  4.07

In [30]:
df >> select(starts_with('c')) >> head()
# 'c' ile başlayan değişkenleri getirir

   carat      cut color clarity
0   0.23    Ideal     E     SI2
1   0.21  Premium     E     SI1
2   0.23     Good     E     VS1
3   0.29  Premium     I     VS2
4   0.31     Good     J     SI2

In [32]:
df >> select(contains('y')) >> head(3)
# 'y' içeren değişkenleri getirir

  clarity     y
0     SI2  3.98
1     SI1  3.84
2     VS1  4.07

In [34]:
df >> select(columns_between('cut','x')) >> head(3)
# belirli bir değişkenden bir değişkene gider

       cut color clarity  depth  table  price     x
0    Ideal     E     SI2   61.5   55.0    326  3.95
1  Premium     E     SI1   59.8   61.0    326  3.89
2     Good     E     VS1   56.9   65.0    327  4.05

In [36]:
df >> drop(1,X.price,['x','y'])>>head()
# bir değişken siler

   carat color clarity  depth  table     z
0   0.23     E     SI2   61.5   55.0  2.43
1   0.21     E     SI1   59.8   61.0  2.31
2   0.23     E     VS1   56.9   65.0  2.31
3   0.29     I     VS2   62.4   58.0  2.63
4   0.31     J     SI2   63.3   58.0  2.75

In [38]:
df >> select(~X.carat,~X.color) >> head(3)
# carat ve color değişkenleri hariç

       cut clarity  depth  table  price     x     y     z
0    Ideal     SI2   61.5   55.0    326  3.95  3.98  2.43
1  Premium     SI1   59.8   61.0    326  3.89  3.84  2.31
2     Good     VS1   56.9   65.0    327  4.05  4.07  2.31

In [40]:
df >> row_slice([10,15])
# 10. ve 15. değerleri aldı

    carat      cut color clarity  depth  table  price     x     y     z
10   0.30     Good     J     SI1   64.0   55.0    339  4.25  4.28  2.73
15   0.32  Premium     E      I1   60.9   58.0    345  4.38  4.42  2.68

In [41]:
df >> row_slice([10])
# 10. değeri aldı

    carat   cut color clarity  depth  table  price     x     y     z
10    0.3  Good     J     SI1   64.0   55.0    339  4.25  4.28  2.73

In [45]:
df >> group_by('cut') >> row_slice(5)
# cut'a göre grrupladı ve her birinden sonraki 5. değere gitti

     carat        cut color clarity  depth  table  price     x     y     z
128   0.91       Fair     H     SI2   64.4   57.0   2763  6.11  6.09  3.93
20    0.30       Good     I     SI2   63.3   56.0    351  4.26  4.30  2.71
40    0.33      Ideal     I     SI2   61.2   56.0    403  4.49  4.50  2.75
26    0.24    Premium     I     VS1   62.5   57.0    355  3.97  3.94  2.47
21    0.23  Very Good     E     VS2   63.8   55.0    352  3.85  3.92  2.48