# Pandas DataFrame Gözlem ve Değişkenlere Birlikte Erişmek

In [3]:
import numpy as np
import pandas as pd

* Oluşturulan indexe göre seçim yapcaksak -> **loc**
* Alışık olduğumuz standart index yapısına göre seçim yapacaksak -> **iloc**

In [32]:
s1 = np.random.randint(10,size=5)
s2 = np.random.randint(10,size=5)
s3 = np.random.randint(10,size=5)
df = pd.DataFrame({"var1":s1,"var2":s2,"var3":s3})
# sözlük yapımız -> var1 adında değişken karşılığı s1 vektörü, var2 adında değişken...
# df.index = ["a","b","c","d","e"]
df

   var1  var2  var3
0     7     0     4
1     2     8     8
2     3     0     7
3     0     6     7
4     7     1     2

In [33]:
# df.loc["a":"c"] # oluşturulan index yapısına göre
df.loc[0:3] # oluşturulan index yapısına göre

   var1  var2  var3
0     7     0     4
1     2     8     8
2     3     0     7
3     0     6     7

In [34]:
df.iloc[0:3] # alışık olduğumuz standart index yapısına göre

   var1  var2  var3
0     7     0     4
1     2     8     8
2     3     0     7

In [35]:
df.iloc[0,0] # 0. satır 0. sütun

7

In [36]:
df.iloc[:2,:3] # 0'dan 2'ye kadar olan satırlar ve 0'dan 3'e kadar olan sütunlar

   var1  var2  var3
0     7     0     4
1     2     8     8

In [40]:
df.iloc[2:6,1:3] # soldaki dahil sağdaki hariç olacak şekilde alır

   var2  var3
2     0     7
3     6     7
4     1     2

In [44]:
df.loc[0:3,'var3']

0    4
1    8
2    7
3    7
Name: var3, dtype: int32

In [46]:
df.loc[0:3,'var2':'var3'] # 0-3 arası gözlemleri ve var2'den var3'e değişkenleri seç

   var2  var3
0     0     4
1     8     8
2     0     7
3     6     7

Eğer gözlemlerle ve değişkenlerle birlikte seçim yapmak istiyorsak;
* bunu indexlere bağlı kalarak yapmak istiyor isek -> **loc**
* bunu standart index yapısı ile yapmak istiyor isek -> **iloc**

In [47]:
df.index = ["a","b","c","d","e"]
df

   var1  var2  var3
a     7     0     4
b     2     8     8
c     3     0     7
d     0     6     7
e     7     1     2

In [48]:
df.loc['c':'d','var1':'var2']

   var1  var2
c     3     0
d     0     6

In [54]:
df[df["var1"] >5]['var2']
#

a    0
e    1
Name: var2, dtype: int32